@model WebZootecPro.ViewModels.Inseminador.InseminadorViewModel

<h2>Eliminar Inseminador</h2>

<h4>¿Está seguro?</h4>

<dl class="row">
  <dt class="col-sm-2">Nombre</dt>
  <dd class="col-sm-10">@Model.Nombre</dd>

  <dt class="col-sm-2">Apellido</dt>
  <dd class="col-sm-10">@Model.Apellido</dd>
</dl>

<form asp-action="Delete">
  <input type="hidden" asp-for="Id" />
  <button type="submit" class="btn btn-danger">Eliminar</button>
  <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
