@model WebZootecPro.ViewModels.Eventos.RegistrarEventoViewModel

<div class="alert alert-info mb-0">
    <div><b>Fecha probable de parto:</b> @ViewBag.FechaProbParto</div>
    <div><b>Fecha de seca:</b> @ViewBag.FechaSecaCalc</div>
</div>
