@model WebZootecPro.ViewModels.Eventos.RegistrarEventoViewModel

<div class="row g-3">
    <div class="col-md-4">
        <label class="form-label">Resultado</label>
        <select asp-for="ConfirmacionTipo" class="form-select">
            <option value="">-- Seleccione --</option>
            <option value="POSITIVA">Positiva</option>
            <option value="NEGATIVA">Negativa</option>
        </select>
        <span asp-validation-for="ConfirmacionTipo" class="text-danger small"></span>
    </div>

    <div class="col-md-4">
        <label class="form-label">Método</label>
        <select asp-for="ConfirmacionMetodo" class="form-select">
            <option value="">-- Seleccione --</option>
            <option value="ECOGRAFIA">Ecografía</option>
            <option value="PALPACION">Palpación</option>
        </select>
        <span asp-validation-for="ConfirmacionMetodo" class="text-danger small"></span>
    </div>

    <div class="col-md-4">
        <label class="form-label">fecha de ultima inceminacion</label>
        <input class="form-control" value="@ViewBag.FechaInseminacion" readonly style="background-color: rgba(15, 23, 42, 0.96)" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Fecha probable de parto</label>
        <input class="form-control" value="@ViewBag.FechaProbParto" readonly style="background-color: rgba(15, 23, 42, 0.96)" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Fecha de seca calculada</label>
        <input class="form-control" value="@ViewBag.FechaSecaCalc" readonly style="background-color: rgba(15, 23, 42, 0.96)" />
    </div>
</div>
